<!DOCTYPE html>
<html>
    <head>
        <title>Mi primer proyecto</title>
    </head>
    <body>
        <h2>Usuarios del proyecto Django</h2>
        <br>
        <form method="post" url="{% url 'ejemplo_django:ingreso' %}">
        {% csrf_token %}
            <select name="edadFiltrado">
                <option value="25">25</option>
                <option value="35">35</option>
            </select>
            <button type="submit" name="Filtrar">Filtrar</button>
        </form>
        <br>
        <button><a href="{% url 'ejemplo_django:ingreso' %}">Reestablecer</a></button>
        <br>
        {% for usuario in usuarios %}
        <h4>Nombre : {{ usuario.nombre }}</h4>
        <h4>Apellido : {{ usuario.apellido }}</h4>
        <h4>Edad : {{ usuario.edad }}</h4>
        <br>
        {% endfor %}
        <br>
        <h4>Ingrese nuevo usuario</h4>
        <form method="post" action="{% url 'ejemplo_django:ingreso' %}">
        {% csrf_token %}
            <div>
                <h4>Ingrese el nombre :</h4>
                <input type="text" name="nombreUsuario">
            </div>
            <div>
                <h4>Ingrese el apellido</h4>
                <input type="text" name="apellidoUsuario">
            </div>
            <div>
                <h4>Ingrese la edad</h4>
                <input type="number" name="edadUsuario">
            </div>
            <br>
            <button type="submit" name="Crear">Registrar usuario</button>
        </form>
    </body>
</html>